<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API介绍</title>
<link rel="stylesheet" type="text/css" href="/css/api.css" />
</head>
<body>

	<table border="1">
		<tr>
			<th class="api_name center">接口名</th>
			<th class="api_request center">请求方法</th>
			<th class="api_param center">接口参数</th>
			<th class="api_function center">接口功能</th>
			<th class="api_result center">参考结果</th>
		</tr>
		<tr>
			<td class="center" rowspan="7">/course</td>
			<td class="center">GET</td>
			<td class="center">无参数</td>
			<td class="center">查询所有课程</td>
			<td>
				[<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;{<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "1",<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "SOA"<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
    			&nbsp;&nbsp;&nbsp;&nbsp;{<br/>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "2",<br/>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "数据库"<br/>
    			&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
    			&nbsp;&nbsp;&nbsp;&nbsp;{<br/>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "3",<br/>
        		&nbsp;&nbsp;&nbsp;&nbsp;"name": "高等数学"<br/>
    			&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
				]<br/>
			</td>
		</tr>
		<tr>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center"></td>
			<td></td>
		</tr>
		<tr>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center"></td>
			<td></td>
		</tr>
		<tr>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center"></td>
			<td></td>
		</tr>
		<tr>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center"></td>
			<td></td>
		</tr>
		<tr>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center"></td>
			<td></td>
		</tr>
		<tr>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center"></td>
			<td></td>
		</tr>
	</table>
	
</body>
</html>